.nav_anchor {
    width: 100%;
}
nav {
    max-height: 100%;
    max-width: 100%;
    margin: 0 0.5em 0 0;
    padding: 0.25em;
    background-color: #1c1c1c;
    display: flex;
    column-gap: 1em;
}
#logo {
    flex: 1.2;
}

nav .ls {
    flex: 1;
}

